header img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
body{
    background-color:rgb(59, 56, 61);
    color: beige;
}
.navbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}
.container{
    margin-top: 20px;
}
.crystal>img{
    width:90px;
    height: auto;
    margin: 10px;
}
.result{
    height: 60px;
    background-color: rgb(31, 29, 29);
    color: whitesmoke;
    padding: 20px;
    margin: 10px;
}
